*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular",  Verdana, Geneva, sans-serif;
}

body{
  background-image: url("/bg.png");
  display: flex;
  align-items: center;
  justify-content: center;
}